.category-menu__list {
    list-style-type: none;
    margin: 0;
    padding: $half-spacing-unit $half-spacing-unit;
    position: relative;
    max-height: font-size(xlarge) + $spacing-unit * 1.5;
    transition: max-height 0.5s linear;
    overflow: hidden;

    &.is-active {
        max-height: 100vh;
    }
}

.category-menu__list-item {
    @include link-color(black, dark);
    display: block;
    opacity: 0;
    position: relative;
    left: 50%;
    top: 0;
    text-align: center;
    transform: translate3d(-50%, 0, 0);
    transition: opacity 0.25s linear;
    padding: $quarter-spacing-unit / 2 0;

    .is-active & {
        opacity: 1;
    }

    &:nth-child(1) {
        @include heading(bravo);
        display: inline-block;
        opacity: 1;
        cursor: pointer;
        margin-left: $quarter-spacing-unit * 1.5;
    }

    &:nth-child(2) {
        display: block;
        margin-top: $quarter-spacing-unit;
    }
}

.category-menu__link {
    @include link-color(black, dark);

    &:focus,
    &:hover {
        padding: 3px $half-spacing-unit;
        border-radius: $half-spacing-unit;
        background-color: rgba(255, 255, 255, 0.4);
    }
}

.category-menu__switch-button {
    @include button-reset;
    font-size: font-size(medium);
    position: relative;
    top: -$quarter-spacing-unit / 2;
    transition: transform 0.15s linear;
    pointer-events: none;

    .is-active & {
        transform: rotate(-180deg);
    }
}
