.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: font-size(medium) + ($spacing-unit * 0.75);
    height: 100vh;

    background: linear-gradient(
        to bottom,
        color-get(blue, light) 0%,
        transparent 300px,
        transparent 100%
    );
}
