.vh {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    height: 0.0625rem;
    margin: -1px;
    margin: -0.0625rem;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    width: 0.0625rem;
}
