body {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: color-get(black);
    min-height: 100vh;
    background-color: color-get(off-white);
}

.wrapper {
    display: flex;
}

.main-content {
    border-left: color-get(off-white, darker) 1px solid;
    min-height: 100vh;
    background-color: color-get(blue, lighter);
    flex-grow: 1;
    padding: $triple-spacing-unit $spacing-unit * 1.75;
}
