body {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: color-get(black);
    min-height: 100vh;
    background-color: color-get(off-white);
}

.wrapper {
    display: flex;
}

.main-content {
    border-left: color-get(off-white, darker) 1px solid;
    background-color: color-get(grey, lighter);
    flex-grow: 1;
    left: $primary-menu-width;
    min-height: 100vh;
    padding: $triple-spacing-unit $spacing-unit * 1.75;
    position: relative;
    top: 0;
    max-width: calc(100vw - #{ $primary-menu-width });
}
