@mixin btn {
    padding: $quarter-spacing-unit / 2 $half-spacing-unit;
    margin: 1px;
    border: 1px solid color-get(grey, light);
    color: color-get(black);
    background: white;
    transition: all linear 0.15s;

    &:hover,
    &:focus {
        color: color-get(black);
        // transform: translate3d(0, -3px, 0);
        transform: scale(1.05);
        transform-origin: center;
        padding: ($quarter-spacing-unit / 2 + 1px) $half-spacing-unit + 1px;
        margin:0;
    }

    &:not(:last-child) { margin-right: $quarter-spacing-unit / 2; }
}

@mixin btn-color($color, $shade: default) {
    background-color: color-get($color, $shade);
    color: white;

    &:hover,
    &:focus {
        color: color-get(white);
    }
}

.btn {
    @include btn;
}

.btn--primary {
    @include btn-color(blue);
}

.btn--square {
    padding: $quarter-spacing-unit $quarter-spacing-unit * 1.6;

    &:hover,
    &:focus {
        padding: $quarter-spacing-unit + 1px $quarter-spacing-unit * 1.6 + 1px;
        margin: 0;
    }
}
